{% extends 'bienestarwebApp/landing/base.html' %}
{% load static %}

{% block title %}Acerca{% endblock title %}
{% block content %}


    <!-- BredCrumb-Section --
    <div class="bred_crumb">
      <div class="container">
        <!-- shape animation  --  
        <span class="banner_shape1"> <img src="images/banner-shape1.png" alt="image" > </span>
        <span class="banner_shape2"> <img src="images/banner-shape2.png" alt="image" > </span>
        <span class="banner_shape3"> <img src="images/banner-shape3.png" alt="image" > </span>

        <div class="bred_text">
          <h1>About us</h1>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><span>»</span></li>
            <li><a href="about.html">About us</a></li>
          </ul>
        </div>
      </div>
    </div>-->
    <style>
      .app_text {
        text-align: justify;
      }
      .text i {
        font-size: 5rem;
      }
      .text {
        text-align: center;
      }
    </style>


    <!-- App-Solution-Section-Start -->
    <section class="row_am app_solution_section">
      <!-- container start -->
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-lg-6">
            <!-- UI content -->
            <div class="app_text">
              <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <h2><span>Una opción mas </span> para todos los mexicanos</h2>
              </div>
              <p data-aos="fade-up" data-aos-duration="1500" style="color:#ffffff">
                Internet bienestar es un Operador Movil Virtual el cual busca llegar a la mayor cantidad de familias mexicanas con los mejores
                planes del mercado con el mejor precio para los diferentes bolsillos.
              </p>
              <p data-aos="fade-up" data-aos-duration="1500" style="color:#ffffff">
                Nos mostramos como una opción mas en todo el país contando con una amplia cobertura en una Red Compartida de alta calidad en la cual 
                puedas disfrutar de Telefonia y Datos Moviles para estar mejor conectado.
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="app_images" data-aos="fade-in" data-aos-duration="1500">
              <ul>
                <li><img style="max-width:100%; border-radius: 300px;" src="{% static 'bienestarwebApp/images/utils/horizonte_morelia.jpg' %}" alt="Horizonte"></li>
                <!--<li>
                  <a class="popup-youtube play-button"
                    data-url="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1" data-toggle="modal"
                    data-target="#myModal" title="About Video">
                    <img src="images/abt_02.png" alt="">
                    <div class="waves-block">
                      <div class="waves wave-1"></div>
                      <div class="waves wave-2"></div>
                      <div class="waves wave-3"></div>
                    </div>
                    <span class="play_icon"><img src="images/play_black.png" alt="image"></span>
                  </a>
                </li>-->
                <li><img src="images/abt_03.png" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- App-Solution-Section-end -->


    <!-- Why we are section Start -->
    <section class="row_am why_we_section" data-aos="fade-in">
      <div class="why_inner">
        <div class="container nosotros-action-titles">
          <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <h2><span>Nuestros</span> Objetivos</h2>
            <p>Con Internet del Bienestar, nuestro objetivo es brindarte 
              la mejor experiencia de telecomunicaciones posible. 
              Nos esforzamos por expandir nuestra red y mejorar 
              constantemente nuestros servicios para ofrecerte 
              la máxima calidad y velocidad en tus conexiones. 
              Queremos que te sientas satisfecho con cada interacción que tengas con nosotros. 
              Desde la atención al cliente hasta la conectividad, nos aseguramos de que cada detalle sea de primera clase. 
              ¡Únete a nuestra red y descubre por qué somos la mejor opción para tus necesidades de telecomunicaciones!.</p>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 ">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-connection"></i>
                  <h3>Conectar a todo México</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-live-support"></i>
                  <h3>Servicio de primer nivel</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-compass-alt"></i>
                  <h3>Los planes más competitivos del mercado</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-users-social"></i>
                  <h3>Crear una comunidad altamente conectada</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row_am why_we_section" data-aos="fade-in">
      <div class="why_inner">
        <div class="container nosotros-action-titles">
          <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
            <h2><span>Nuestros</span> Servicios</h2>
            <p>¡Conéctate a la mejor calidad de datos y velocidad en México! Con 
              Internet del Bienestar, nos enorgullecemos de ofrecer 
              servicios de banda ancha, mifi, internet para casa y mu
              cho más, con la más alta calidad y tecnología de última 
              generación. ¡No te conformes con menos! Contáctanos y enc
              uentra el plan que mejor se adapte a tus necesidades y pres
              upuesto. ¡Con Internet del Bienestar, La conectividad es una realidad!.</p>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 ">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-ui-wifi"></i>
                  <h3>Una Red con alta calidad de servicio</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-fast-delivery"></i>
                  <h3>Siempre podras navegar en internet</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-signal"></i>
                  <h3>Siempre tendras señal</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-building-alt"></i>
                  <h3>Contamos con una infraestructura robusta.</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-network-tower"></i>
                  <h3>Transmisión LTE de Voz y Datos</h3>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="why_box" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
                <div class="icon">
                  <!-- <img src="images/abt_support.png" alt="image"> -->
                </div>
                <div class="text">
                  <i class="icofont-web"></i>
                  <h3>Recomendada para sistemas online</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="about_contact_card_container">
      {% include "bienestarwebApp/landing/utils/contact_card.html" %}
    </div>
    



    {% endblock content %}