{% load static %}
<!-- ModernUI-Section-Start -->
<section class="row_am modern_ui_section">
    <!-- container start -->
    <div class="container">
        <!-- row start -->
      <div class="row">
        <div class="col-lg-6">
            <!-- UI content -->
          <div class="ui_text">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
              <h2>Una telefonía <span>Sin complicaciones</span></h2>
              <p>
                "Nuestra prioridad es tu satisfacción, 
                por lo que nos aseguramos de ofrecerte el mejor servicio al cliente y la mejor calidad en nuestros productos. Se parte de esta gran familia  
                hoy y empieza a disfrutar de una experiencia de recarga única y personalizada, ¡en cualquier momento y lugar!"
              </p>
            </div>
            <ul class="design_block">
              <li data-aos="fade-up" data-aos-duration="1500">
                <h4><a href="https://jrmovil.pythonanywhere.com/recargas">Recargas</a></h4>
              </li>
              <li data-aos="fade-up" data-aos-duration="1500">
                <h4><a href="https://jrmovil.pythonanywhere.com/consultas">Consulta tu saldo</a></h4>
              </li>
              <li data-aos="fade-up" data-aos-duration="1500">
                <h4>¡Cámbiate a JRmóvil!</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
            <!-- UI Image -->
          <div class="ui_images" data-aos="fade-in" data-aos-duration="1500">
            <div class="left_img">
              <img style="max-width:100%" class="moving_position_animatin" src="{% static 'JRwebApp/images/utils/1.png' %}" alt="image" >
            </div>
            <!-- UI Image -->
            <div class="right_img">
              <img class="moving_position_animatin" src="{% static 'JRwebApp/images/secure_data.png' %}" alt="image" >
              <img style="max-width:100%" class="moving_position_animatin" src="{% static 'JRwebApp/images/utils/2.jpg' %}" alt="image" >
            </div>
          </div>
        </div>
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </section>
  <!-- ModernUI-Section-end -->