{% load static %}
<!-- Story-Section-Start -->
<section class="row_am latest_story" id="blog">
    <!-- container start -->
     <div class="container">
         <div class="section_title" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100">
             <h2>Historias Inspiradoras <span>JR</span></h2>
             <p>Conoce más sobre nuestra historia <br> noticias y actividades.</p>
         </div>
         <!-- row start -->
         <div class="row">
             <!-- story -->
             {% for i in Entradas %}
           <div class="col-md-4">
               <div class="story_box" data-aos="fade-up" data-aos-duration="1500">
                   <div class="story_img">
                     <img src="{{i.imagen}}" alt="image" >
                     <span>45 min ago</span>
                   </div>
                   <div class="story_text">
                       <h3>{{i.titulo}}</h3>
                       <p>{{i.contenido | safe}}</p>
                       <a href="#">READ MORE</a>
                   </div>
               </div>
           </div>
           {% endfor %}

         </div>
         <!-- row end -->
     </div>
     <!-- container end -->
   </section>
   <!-- Story-Section-end -->