{% load static %}
<style>
    .hbb_intro_home {
        width: 15%;
    }
</style>

<!-- How-It-Workes-Section-Start -->
<section class="row_am how_it_works" id="how_it_work">
    <!-- container start -->
    <div class="container">
        <div class="how_it_inner">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                <!-- h2 -->
                <h2><span>Internet JR</span> para el hogar</h2>
                <!-- p -->
                <p>Todo el contenido del mundo del internet a alta velocidad en la comoidad de tu hogar.</p>
            </div>
            <div class="step_block">

                <!-- row start -->
                <div class="row text-center">
                    <!-- step box -->
                    <div class="col-md-12 col-sm-12">
                        <div class="step_box">
                            <!-- icon -->
                            <div class="step_img" data-aos="fade-left" data-aos-duration="1500">
                                <img class="hbb_intro_home" src="{% static 'JRwebApp/images/icons/home.webp' %}" alt="">
                            </div>
                            <!-- text -->
                            <div class="step_text step2" data-aos="fade-right" data-aos-duration="1500">
                                <h4>¡Conoce Nuestros Planes!</h4>
                                <p>Verifica si tenemos cobertura por tu zona.</p>
                            </div>
                            <div class="container mt-5">
                                <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
                                <!-- h2 -->
                                <a href="{% url 'hbb'   %}#planes-hbb" class="btn puprple_btn" data-aos="fade-in" data-aos-duration="1500">Nuestros Planes</a>
                                <a href="{% url 'hbb'  %}#cobertura" class="btn white_btn" data-aos="fade-in">Consulta de Cobertura</a>
                                </div>
                              </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    <!-- container end -->
</section>
<!-- How-It-Workes-Section-end -->