{% load static %}

{% block styles %}
<style>
    h2{
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--main-dark-brand);
        text-align: center;
        padding-top: 36px;
        background-color: var(--light-purple);
        border-radius: 25px;  
    }
    #cobertura {
            background-color: var(--light-purple); 
            padding: 6% 2% 6%; 
            margin: 0; 
            width: 100%;
            box-sizing: border-box;
        }
    form{
        margin: 4%;
        font-size: 0.9375rem;
        text-align: center;
    }
    .input-cobertura{
        margin-left: 33%;
        margin-bottom: 2%;
    }
    .info-cobertura{
        margin: 20px 55px;
        display: flex;
        font-size: 1rem;
        
    }
</style>
{% endblock styles %}


{% block container %}
<section id="cobertura" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
    <h2 class="subtitulo"><u><span>REVISA LA COBERTURA DE TU SERVICIO</span></u></h2>
    
    <form>
        <div class="mb-3" >
            <div class="input-cobertura">
                <input class="form-control w-50" name="autocomplete" id="autocomplete" type="text" placeholder="Intrduce tu dirección" aria-label=".form-control example">
            </div>
          <button class="white_btn" type="submit" style="margin-bottom: 15px;" onclick='coordenate()'>Verificar cobertura</button>
        </div>
    </form>
      <p class="info-cobertura">*El servicio no es móvil, sólo podrás utilizar el servicio internet en casa en la dirección que registres al momento de activar tu servicio, de lo contrario tendrás que comunicarte a Atención a Clientes para solicitar un cambio de domicilio.</p>



</section>
{% endblock container %}

{% block scripts %}
<script>
    google.maps.event.addDomListener(window, 'load', initialize);
    var place;

    function initialize() {
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
        
        autocomplete.setComponentRestrictions({
            'country': 'mx'
        });
        autocomplete.addListener('place_changed', function () {
            place = autocomplete.getPlace();

            if (!place.geometry) {
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            
        });
    }

    function coordenate() {

      alert(place.geometry.location + " hola !!! "); 
       
    }

</script>
{% endblock %}
