{% load static %}

<style>
  .container-planes {
    justify-content: center;
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
    filter: brightness(1.1);
  }

  .card-header {
    text-align: center;
    font-weight: bold;
  }

  .card {
    margin: 3%;
    border-color: #51936b51;
    width: 18rem;
    margin-bottom: 20px;
  }

  .megas {
    margin-left: 90px;
    font-weight: bold;
  }

  .paquetes-img {
    float: left;
  }

  .info {
    display: flex;
    margin: 4% 6% 8%;
    font-size: 16px;
  }

  .before {
    text-align: left;
    text-decoration: line-through;
  }

  .after {
    text-align: right;
    font-weight: bold;
  }

  .more {
    margin-left: 70px;
  }

  .month {
    text-align: right;
    font-size: 1rem;
  }

  .card-planes-hbb-principal {
    border: 2px solid var(--main-brand-color);
  }
  .interface_section .owl-item .screen_frame_img img {
    border-color: var(--main-brand-color)!important;
}
.planes_hbb_container {
  margin-top: 5%;
}

</style>

<!-- Beautifull-interface-Section start -->
<section id="planes-hbb" class="row_am interface_section mt-8 planes_hbb_container">
  <!-- container start -->
  <div class="container-fluid">
    <div class="section_title mt-3" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
      <!-- h2 -->
      <h2>Nuestros <span>Planes</span></h2>
      <!-- p -->
      <p>
        Internet JR para el hogar <br>
      </p>
    </div>          

    <!-- screen slider start -->
    <div class="screen_slider">
      <div id="screen_slider" class="owl-carousel owl-theme">
        {% for i in planes %}
        <div class="item">
          <div class="logo screen_frame_img" >
            <div class="card"  style="width: 18rem;">
              <div class="card-header">
                  {{i.name}}
              </div>
              <ul class="list-group">
                <li class="list-group-item">
                  <img class="paquetes-img" src="{% static 'bienestarwebApp/images/wifi/3.png' %}" width="45px" alt="">
                 <p class="megas">150 MG</p>
                  <p class="more"> CONOCÉ MÁS</p>
              </li>
              <li class="list-group-item">¡Aprovechá por apertura! <br>
                  <p class="before">Antes: ${{i.precio | add:50}}</p>
                  <p class="after">${{i.precio}} </p>
                  <p class="month"> AL MES</p>
              </li>
             <li class="list-group-item">
              <button class="btn purple_btn" type="submit" onClick="redireccionRecargas()">¡CONTRATÁ YA!</button></li>
              </ul>
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="container-foter-planes">
      <div class="row">
        <div class="col-12">
          <div class="text-center" style="margin: 10% 0 4%;">
            <h5><a href="/static/bienestarwebApp/pdfs/Tripticos_Home.pdf" download= "Tripticos_Home.pdf">Ver Todos los planes</a></h5>
          </div>
        </div>
      </div>
    </div>
    <p class="info" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">El servicio no es móvil, una vez
      instalado el servicio se asocia a una ubicación. En caso de mover el servicio a una ubicación diferente a donde se
      activó, el servicio entrará en suspensión, para reactivarlo deberá de regresar el servicio a la ubicación donde se
      activó. Para cambiar de domicilio el servicio deberás de llamar a Call Center 800 288 JRMOVIL(2248) o *282 desde
      tu JRmóvil para validar disponibilidad del servicio en el nuevo domicilio.</p>

    <!-- screen slider end -->
  </div>
  <!-- container end -->
</section>
<!-- Beautifull-interface-Section end -->

{% block scripts %}

<script>
  function redireccionRecargas(){
    window.location.href = "{% url 'redireccion_recarga' %}";
  }
</script>
{% endblock %}