
 <!DOCTYPE html>
 <html lang="en">
 {% load static %}
 <head>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Internet Bienestar - {% block title %}{% endblock title %}</title>
   <meta name="description" content="En JRmóvil somos una telefonía 100% mexicana, a tu medida, que a través del esfuerzo de todo nuestro equipo te conecta en donde quiera que estés, con los qué mas quieres y te importan.">
   <meta name="keywords" content="telefonía mexicana, jrmóvil, altan, redes altan, jr altan, jrmócil altan, jrmovil">
   <!-- Indexear robots men -->
   <meta name="robots" content="index, follow">
   <meta name="author" content="Oroboros Research">
   <meta property="og:image" content="{% static 'bienestarwebApp/images/logo/JR.png' %}">
   <meta property="og:title" content="JRmóvil">
   <meta property="og:type" content="Telefonía Móvil">

   <!-- Favicon -->
   <link rel="shortcut icon" href="{% static 'bienestarwebApp/images/logo/JR.png' %}" type="image/x-icon">


   <!-- icofont-css-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/icofont.min.css' %}">
   <!-- Owl-Carosal-Style-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/owl.carousel.min.css' %}">
   <!-- Bootstrap-Style-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/bootstrap.min.css' %}">
   <!-- Aos-Style-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/aos.css' %}">
   <!-- Coustome-Style-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/style.css' %}">
   <!-- Responsive-Style-link -->
   <link rel="stylesheet" href="{% static 'bienestarwebApp/css/responsive.css' %}">
  
   <!-- Meta trace -->
   <meta name="facebook-domain-verification" content="2glojni6x74beuiru77ga4ivc39gsm" />

   <!-- chat ?? -->
   <script id="growth_tool" src="https://cdn.chatapi.net/widget/widget.js?wId=7f2e04a9-735e-48ad-bb3a-d7ad33efb291"></script>

 </head>

 <body>

    <!-- Page-wrapper-Start -->
  <div class="page_wrapper">

    <!-- Preloader -->
    <div id="preloader">
      <div id="loader"></div>
    </div>

    {% if "recargas" not in request.path and "nuevodistribuidor" not in request.path and "consultas" not in request.path %}
      {% include "bienestarwebApp/landing/header.html" %}
    {% endif %}

    {% block content %}
    {% endblock content %}


    {% if "recargas" not in request.path and "nuevodistribuidor" not in request.path and "consultas" not in request.path %}
      {% include "bienestarwebApp/landing/footer.html" %}
    {% endif %}

    {% block modals %}
    {% endblock modals %}


 <!-- Unkonwn function ---->
 <div class="purple_backdrop"></div>

</div>
 <!-- Page-wrapper-End -->

  <!-- Jquery-js-Link -->
  <script src="{% static 'bienestarwebApp/js/jquery.js' %}"></script>
  <!-- owl-js-Link -->
  <script src="{% static 'bienestarwebApp/js/owl.carousel.min.js' %}"></script>
  <!-- bootstrap-js-Link -->
  <script src="{% static 'bienestarwebApp/js/bootstrap.min.js' %}"></script>
  <!-- aos-js-Link -->
  <script src="{% static 'bienestarwebApp/js/aos.js' %}"></script>
  <!-- main-js-Link -->
  <script src="{% static 'bienestarwebApp/js/main.js' %}"></script>

</body>

</html>