
{% load static %}
<!-- Trusted Section start -->
<section class="row_am trusted_section" style="background-color:#F0F4EC">
    <!-- container start -->
    <div class="container">
      <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        <!-- h2 -->
        <h2><span>PORTABILIDAD</span> </h2>
      </div><br><br>
      {% comment %} <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        <h2>Cámbiate el chip <span> con Internet para el Bienestar</span> </h2>
      </div> {% endcomment %}
      <div class="img_intro_1" style="text-align: center;">
        <img src="{% static 'bienestarwebApp/images/banner_1.png' %}" alt="Imagen de intro" style="width:792px; height:135px; ">
      </div>
      <br><br>
      <div class="promo_plans" style="margin:0% 10%; display:flex; justify-content:space-around; align-items: center;">
        <a href="{% url 'compra_tu_chip_ib' %}" alt="compra tu chip" style="display: contents;">
          <img src="{% static 'bienestarwebApp/images/planes/ib_plan1530.png' %}" alt="Promo plan 15 dias" style="width:30%; height:30%;">
        </a>
        <a href="{% url 'compra_tu_chip_ib' %}" alt="compra tu chip" style="display: contents;">
          <img src="{% static 'bienestarwebApp/images/planes/ib_plan200.png' %}" alt="Promo plan 15 dias" style="width:30%; height:30%;">
        </a>
      </div>
      <div class="img_intro_1" style="text-align: center; margin:2.5rem 1.5rem 1.5rem 1.5rem;">
        {% comment %} <a href="https://jrmovil.pythonanywhere.com/recargas" alt="compra tu chip"> {% endcomment %}
        <a href="{% url 'compra_tu_chip_ib' %}" alt="compra tu chip">
          <img src="{% static 'bienestarwebApp/images/planes/compra_chip.png' %}" alt="compra tu chip" style="width:30%; height:30%; ">
        </a>
      </div>
      <br><br>
      <div class="section_title">
        <h2><span style="color:#691C32;">¡RECIBE BENEFICIOS</span> </h2>
        <h2><span>DURANTE 12 MESES!</span> </h2>
      </div>
      <div class="promo_plans" style="margin:0% 10%; display:flex; justify-content:space-around; align-items: center; text-align: center;">
        <a href="{% url 'portabilidad' %}" alt="Portabilidad">
          <img src="{% static 'bienestarwebApp/images/finguer_button.png' %}" alt="Promo plan 15 dias" style="width:70%; height:70%;">
        </a>
      </div>
    </div>
    <!-- container end -->
  </section>
  <!-- Trusted Section ends -->