
{% load static %}
<!-- Trusted Section start -->
<section class="row_am trusted_section">
    <!-- container start -->
    <div class="container">
      <div class="simple_image" style=" margin:2rem; display:flex; align-items: center; justify-content: center;">
        <img src="{% static 'bienestarwebApp/images/banner_cambia_tu_linea.png' %}" style="height:75%; width:75%;">
      </div>
      {% comment %} <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        <!-- h2 -->
        <h2><span>Portabilidad</span> </h2>
        <!-- p -->
        <h3><p style="color:#ffffff">Revisa nuestros planes que tenemos disponibles para ti.</p></h3>
      </div> {% endcomment %}
      {% comment %} <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        <h2>Cámbiate el chip <span> con Internet para el Bienestar</span> </h2>
      </div> {% endcomment %}

      <!-- logos slider start -->
      <div class="company_logos" >
        <div id="company_slider" class="owl-carousel owl-theme">
          {% for i in planes %}
          <div class="item">
            <div class="logo">
              <a href="{% url 'compra_tu_chip_ib' %}">
                <img src="{{i.image}}" alt="{{i.name}}" >
              </a>
            </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <br>
      <!-- logos slider end -->
      <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">        
        <!-- p -->
        <p style="color:#ffffff">Puedes verificar las tarifas vigentes IFT <strong><a style="color:#ffffff" href="https://tarifas.ift.org.mx/ift_visor/">aqui.</strong></a></p>
      </div>
    </div>
    {% include "bienestarwebApp/landing/utils/par_botones.html" %}
    <!-- container end -->
  </section>
  <!-- Trusted Section ends -->