{% load static %}

<style>
    .content_col {
        display:flex;
        margin:2rem 2rem 0rem 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .linea_recarga {
        margin:0% 10%; 
        display:flex; 
        justify-content:space-around; 
        align-items: center;
    }
    
    .puntos_recarga {
        /*padding: 2.5rem;
        display: inline-flex;
        margin-right: 4em;
        justify-content: center;*/
        margin:0.8rem; 
        display:flex; 
        align-items: center; 
        justify-content: space-around; 
        margin: 2rem"
    }

    
</style>

<section class="row_am trusted_section" style="background-color:#F0F4EC">
    <div class="simple_image" style=" margin:2rem; display:flex; align-items: center; justify-content: center; margin: 2rem">
        <img src="{% static 'bienestarwebApp/images/bienestar/banner_recarga_tu_linea.png' %}" style="height:75%; width:75%;">
    </div>
    <div class="content_col">
        <div class="linea_recarga">
            <a href="https://recarga.internetparaelbienestar.mx/bienestar">
                <img src="{% static 'bienestarwebApp/images/bienestar/boton_recarga_linea.png' %}" style="height:75%; width:75%;" alt="muestra">
            </a>
            {% comment %} <a href="https://internetparaelbienestar.mx/"> {% endcomment %}
            <a href="#" data-toggle="modal" data-target="#imagenModal">
                <img src="{% static 'bienestarwebApp/images/bienestar/boton_puntos_recarga.png' %}" style="height:75%; width:75%;" alt="muestra">
            </a>
        </div>
        {% comment %} <div class="linea_recarga">
            <div class="tarjeta">
                <div class="titulo">RECARGA EN LÍNEA</div>
                <div class="cuerpo">
                    <img src="/imgs/cards0-img.jpg" alt="muestra">
                    lorem ipsum
                </div>
                <div class="pie">
                    <a href="#">AQUÍ</a>
                </div>
            </div>        
        </div>
        <div class="punto_recarga">
            <div class="tarjeta">
                <div class="titulo">CONSULTA PUNTOS DE RECARGA</div>
                <div class="cuerpo">
                    <img src="/imgs/cards0-img.jpg" alt="muestra">
                    lorem ipsum
                </div>
                <div class="pie">
                    <a href="#">AQUÍ</a>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
    {% comment %} <br>
    <div class="puntos_recarga">   
        <img src="{% static 'bienestarwebApp/images/bienestar/puntos_recargas.png' %}" style="height:30%; width:30%;" alt="puntos de recarga">
    </div> {% endcomment %}

    <div class="modal fade" id="imagenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Puntos de recarga.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img src="{% static 'bienestarwebApp/images/bienestar/puntos_recargas.png' %}" alt="puntos de recarga" class="img-fluid">
            </div>
        </div>
    </div>
</div>
</section>
  <!-- Trusted Section ends -->