{% load static %}    
<!-- Testimonial-Section start -->
    <section class="row_am testimonial_section"> 
        <!-- container start -->
        <div class="container">
          <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            <!-- h2 -->
            <h2>Qué dicen <span>nuestros clientes</span></h2>
            <!-- p -->
            <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe
              standard dummy.</p>
          </div>
          <div class="testimonial_block" data-aos="fade-in" data-aos-duration="1500">
            <div id="testimonial_slider" class="owl-carousel owl-theme">
                <!-- user 1 -->
              <div class="item">
                <div class="testimonial_slide_box">
                  <div class="rating">
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                  </div>
                  <p class="review">
                    “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                    beenthe standar dummy. ”
                  </p>
                  <div class="testimonial_img">
                    <img src="{% static 'bienestarwebApp/images/testimonials/guy1_circle.png' %}" alt="image" >
                  </div>
                  <h3>Juan Perez</h3>
                  <span class="designation">Michoacan</span>
                </div>
              </div>
              <!-- user 2 -->
              <div class="item">
                <div class="testimonial_slide_box">
                  <div class="rating">
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                  </div>
                  <p class="review">
                    “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                    beenthe standar dummy. ”
                  </p>
                  <div class="testimonial_img">
                    <img src="{% static 'bienestarwebApp/images/testimonials/red_woman_circle.png' %}" alt="image" >
                  </div>
                  <h3>Guadalupe Hernandez</h3>
                  <span class="designation">Puebla</span>
                </div>
              </div>
              
              <!-- user 3 -->
              <div class="item">
                <div class="testimonial_slide_box">
                  <div class="rating">
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                    <span><i class="icofont-star"></i></span>
                  </div>
                  <p class="review">
                    “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                    beenthe standar dummy. ”
                  </p>
                  <div class="testimonial_img">
                    <img src="{% static 'bienestarwebApp/images/testimonials/woman_2_circle.png' %}" alt="image" >
                  </div>
                  <h3>Maria García</h3>
                  <span class="designation">Guanajuato</span>
                </div>
  
              </div>
            </div>
  
            <!-- total review -->
            <div class="total_review">
              <div class="rating">
                <span><i class="icofont-star"></i></span>
                <span><i class="icofont-star"></i></span>
                <span><i class="icofont-star"></i></span>
                <span><i class="icofont-star"></i></span>
                <span><i class="icofont-star"></i></span>
                <p>5.0 / 5.0</p>
              </div>
              <h3>2578</h3>
              <a href="#">TOTAL USER REVIEWS <i class="icofont-arrow-right"></i></a>
            </div>
  
            <!-- avtar faces -->
            <div class="avtar_faces">
              <img src="{% static 'bienestarwebApp/images/avtar_testimonial.png' %}" alt="image" >
            </div>
          </div>
        </div>
        <!-- container end -->
      </section>
      <!-- Testimonial-Section end -->