{% block title %}Aviso de Privacidad{% endblock title %}
   <!-- privacidad-Section start -->
   <section class="row_am faq_section">
    <!-- container start -->
    <div class="container">
      <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
        <!-- h2 -->
        <h2>Aviso de <span>Privacidad</span></h2>
        <!-- p -->
        <p>.....</p>
      </div>
      <!-- faq data -->
      <div class="faq_panel">
        <div class="accordion" id="accordionExample">
    {% for i in privacidad %}
        <div class="card" data-aos="fade-up" data-aos-duration="1500">
            <div class="card-header" id="headingSixteen">
            <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                data-target="#j{{i.pk}}"><i class="icon_faq icofont-plus"></i></i>{{i.titulo}}</button>
            </h2>
            </div>
            <div id="j{{i.pk}}" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
            <div class="card-body">
                <p>{{i.contenido}}</p>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</div>
</section>