<!-- privacidad-Section start -->
{% load static %}
<section class="row_am faq_section">
<!-- container start -->
    <div class="container" style="overflow:auto">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            <!-- h2 -->
                <h2><span>Carta </span>de Derechos</h2><br>
            </div>
            <!-- p -->
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\cartadederechosdelosusuariosdeserviciosdetelecomunicaciones2022.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
    </div>
</section>