<!-- privacidad-Section start -->
{% load static %}
<section class="row_am faq_section">
<!-- container start -->
    <div class="container" style="overflow:auto">
            <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            <!-- h2 -->
            <h2><span>Formatos </span>simplificados</h2><br><br>
            <!-- p -->
        </div>
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\FormatoSimplificado_50.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\FormatoSimplificado_99.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\FormatoSimplificado_100.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\FormatoSimplificado_120.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
        <div style="width: 100%; height: 780px;">
            <embed src="{% static 'bienestarwebApp\pdfs\FormatoSimplificado_200.pdf' %}" type="application/pdf" width="100%" height="700px" />
        </div>
    </div>
</section>