{% extends 'bienestarwebApp/landing/base.html' %}
{% load static %}

{% block title %}Portabilidad{% endblock title %}
{% block content %}
<style>
    .title img{
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    .card-body{
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        border: 1px solid;
        border-color: var(--main-brand-color);
        border-radius: 25px;
    }
    .titulo{
        color: var(--body-text-purple);
        font-weight: 500;
        font-size: 25px;
        word-spacing: 0.5em;
    }
    .subtitulo{
        color: var(--main-brand-color);
        font-weight: 400;
        font-size: 18px;
        word-spacing: 0.5em;
    }
    .primerLinea{
        display: flex;
        flex-direction: row;
    }
    .impar{
        background-color: #6c002d;
        width: 320px;
        height: 260px;
        border-radius: 35px;
        margin: auto;
        transition: background-color 0.3s ease;
    }
    .par{
        background-color: var(--main-brand-color);
        width: 320px;
        height: 260px;
        border-radius: 35px;
        margin: auto;
        transition: background-color 0.3s ease;
    }
    .texto{
        color: #ffff;
        font-size: 15px;
        line-height: normal;
    }
    .paso{
        font-weight: bolder!important;
        font-size: 1.75rem!important;
        color: var(--body-text-purple);
    }
    .color-bienestar-fuerte{
        color: var(--body-text-purple);
    }
</style>
<section class="row_am faq_section" id="faqs">
    <!-- container start -->
    <div class="container-fluid title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
        <!-- h2 -->
        {% comment %} <h2><span></span> {{pags.titulo}}</h2> {% endcomment %}
        <!-- p -->
        <img src="{% static 'bienestarwebApp/images/bienestar/title_portabilidad.png' %}" alt="Seccion Portabilidad">
    </div><br><br>
    <div class="container">
        <div class="card-body" style="color:gray">
            <p align="center" class="titulo"><strong>Cámbiate a Internet para el Bienestar con tu mismo <br>
                número y disfruta los mejores beneficios,</strong></p>
            <p align="center" class="subtitulo">
                <strong>
                    ¡Es muy sencillo en tan solo 5 pasos!
                </strong>
            </p>
            <div class="mt-5 primerLinea">
                <div class="col-lg-4">   
                    <p align="center" class="mb-0 paso">Paso 1:</p>
                    <div class="impar">
                        <p class="texto px-4 py-5"><b>Envía un SMS</b> al 051 con la palabra
                        NIP, o marca al mismo número para
                        obtener tu NIP de Portabilidad.
                        Deberás realizarlo desde tu número
                        que tienes con tu compañía actual y
                        que quieres conservar
                        NOTA:
                        -El NIP tiene vigencia de
                        5 días naturales
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p align="center" class="mb-0 paso">Paso 2:</p>
                    <div class="par">
                        <p class="texto px-4 py-5">
                            Adquiere una SIM de
                            Internet para el
                            Bienestar, o si ya la
                            tienes continua al
                            paso 3.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p align="center" class="mb-0 paso">Paso 3:</p>
                    <div class="impar">
                        <p class="texto px-4 py-5">
                            Retira de tu celular la SIM
                            con tu compañía actual e
                            Ingresa en tu celular tu
                            nueva SIM de Internet para
                            el Bienestar.
                            Posteriormente
                            descarga el App
                                                </p>
                    </div>
                </div>
            </div>
            <div class="mt-lg-5 mt-5 justify-content-center primerLinea">
                <div class="col-lg-4">
                    <p align="center" class="mb-0 paso">Paso 4:</p>
                    <div class="par">
                        <p class="texto px-4 py-5">
                            Abre el App de
                            Internet para el
                            Bienestar, selecciona
                            la opción de “porta tu
                            número” y completa
                            tus datos.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p align="center" class="mb-0 paso">Paso 5:</p>
                    <div class="impar">
                        <p class="texto px-4 py-5">
                            Espera 48 hrs
                            Y ¡Listo! Dedícate a
                            disfrutar de la mejor
                            velocidad y beneficios
                                                </p>
                    </div>
                </div>
            </div>
        <h2>&nbsp;</h2>
        <div>
            <p align="center" class="mt-5 px-5 font-weight-bold color-bienestar-fuerte">
                ¡No compartas tu NIP con ninguna persona que no sea de Internet para el Bienestar! <br>
                <span style="color: #a7a6a6;">Recuerda que es personal e intransferible</span>
            </p>
        </div>
        </div>
    </div>
</section>


{% endblock content %}