{% load static %}
<!-- Features-Section-Start -->
<section style="margin-bottom:10%" class="row_am features_section" id="features">
    <!-- container start -->
    <div class="container">
      <div class="section_title" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
        <!-- h2 -->
        <h2><span>Distribuidores</span> JRmóvil</h2>
        <!-- p -->
        <p>¿Qué esperas? Conviértete en un distribuidor JRmóvil y vuélvete parte de esta gran familia mexicana.</p>
      </div>
      <div class="feature_detail">
        <!-- feature box left -->
        <div class="left_data feature_box">

            <!-- feature box -->
          <div class="data_block" data-aos="fade-right" data-aos-duration="1500">
            <div class="icon">
              <img src="{% static 'bienestarwebApp/images/secure_data.png' %}" alt="image" >
            </div>
            <div class="text">
              <h4>¡Únete a nuestro equipo de distribuidores!...</h4>
              <p>¡Sé parte de una compañía en constante crecimiento! En 
                <em>JRmóvil</em>>, estamos comprometidos con brindar un 
                servicio de alta calidad a nuestros clientes de telefonía móvil y 
                necesitamos tu ayuda para llevar nuestros planes de recarga a más personas.</p>
            </div>
          </div>

        </div>

        <!-- feature box right -->
        <div class="right_data feature_box">

            <!-- feature box -->
          <div class="data_block" data-aos="fade-left" data-aos-duration="1500">
            <div class="icon">
              <img src="{% static 'bienestarwebApp/images/live-chat.png' %}" alt="image" >
            </div>
            <div class="text">
              <h4>Comisiones Competitivas</h4>
              <p>Si estás buscando una oportunidad para crecer profesionalmente y 
                convertirte en un emprendedor exitoso, ¡únete a nosotros en JRmóvil! 
                Estamos comprometidos con tu éxito y con ofrecer la mejor experiencia a 
                nuestros clientes.</p>
            </div>
          </div>
          <a href="https://jrmovil.pythonanywhere.com/nuevodistribuidor" class="btn puprple_btn" data-aos="fade-in" data-aos-duration="1500">Vuélvete Distribuidor</a>


        </div>
        <!-- feature image -->
        <div class="feature_img" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
          <img src="{% static 'bienestarwebApp/images/features_frame.png' %}" alt="image" >
        </div>

        
      </div>
      <!-- feature box -->
    </div>
    <!-- container end -->
    
  </section>
  <!-- Features-Section-end -->