{% load static %}
<!-- Download-Free-App-section-Start  -->
<section class="row_am free_app_section" id="getstarted">
    <!-- container start -->
    <div class="container">
        <div class="free_app_inner" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100"> 
          <!-- vertical line animation -->
          <div class="anim_line dark_bg">
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
            <span><img src="{% static 'bienestarwebApp/images/anim_line.png' %}" alt="anim_line"></span>
          </div>
              <!-- row start -->
            <div class="row">
                <!-- content -->
                <div class="col-md-6">
                    <div class="free_text">
                        <div class="section_title">
                            <h2>¿Qué esperas? Descarga Nuestras Apps :)</h2>
                            <p>En JRmóvil trabajamos arduamente para que puedas mantenerte conectado con tus seres queridos, 
                              estés donde estés.
                            </p>
                            <p>
                              Con nosotros, no tendrás que preocuparte por la calidad de tu conexión o 
                              por la lejanía de tus seres queridos. 
                            </p>
                            <p>
                              Estamos aquí para que te sientas siempre 
                              cerca de quienes más quieres. <strong>¡Únete a nuestra familia y conecta con el mundo como nunca antes!"</strong>
                            </p>
                        </div>
                        <ul class="app_btn">
                          <!--li>
                            <a href="#">
                              <img src="{% static 'bienestarwebApp/images/appstore_blue.png' %}" alt="image" >
                            </a>
                          </li-->
                          <li>
                            <a href="https://play.google.com/store/apps/details?id=com.jrapp&hl=es_MX&gl=US">
                              <img src="{% static 'bienestarwebApp/images/googleplay_blue.png' %}" alt="image" >
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>

                <!-- images -->
                <div class="col-md-6">
                    <div class="free_img">
                      <img src="{% static 'bienestarwebApp/images/features_frame.png' %}" alt="image" >
                      <img class="mobile_mockup" src="{% static 'bienestarwebApp/images/about-frame.png' %}" alt="image" >
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </div>
    <!-- container end -->
</section>
<!-- Download-Free-App-section-end  -->