{% extends 'bienestarwebApp/landing/base.html' %}
{% load static %}

{% block title %}Acerca{% endblock title %}

{% block head %}
<script src="https://sdk.mercadopago.com/js/v2"></script>

{% endblock %}



{% block content %}
    <div onload="startLoad" class="full_bg">

      <div class="container">
         <section class="signup_section">

          <div class="top_part">
            <a href="{% url 'intro' %}" class="back_btn"><i class="icofont-arrow-left"></i> Regresar</a>
            <a class="navbar-brand" href="#">
              <img src="{% static 'bienestarwebApp/images/logo/jr_blanco.png' %}" alt="image">
            </a>
          </div>
  
          <!-- Comment Form Section -->
          <div class="signup_form">
            <div class="section_title">
              <h2> Realiza una <span>Recarga</span> </h2>
              <p>Asegurate de seleccionar correctamente tu plan. <br></p>
            </div>

           
            <form id="recargasSubmit" action="#" method="post" >
              {% csrf_token %}
              <div class="form-group">
                <input id="idSubscriberI" name="idSubscriber" type="number" class="form-control" placeholder="Número JR">
              </div>

              <div class="form-group">
                <p id="badResponseTxt" style="color:red;">Favor de introducir un número JRmóvil.</p>
              </div>
              
              <div id="recargas-group" style="text-align: center; margin:10%;%" id="btn-recargas-choose row center" class="btn-group-choose-data">
                <p>¿Qué tipo de recarga deseas hacer?</p>
                <a href="#" onclick="displayMB()" class="btn white_btn col-md-4">MB</a>
                <a href="#" onclick="displayMifi()" class="btn white_btn col-md-4">MiFi</a>
                
              </div>



              <div id="r-mb-group" class="form-group recargas-mb-group">
                <select id="dropdown-mb" name="dropdownMB" class="form-control" >
                  <option value="empty"> - </option>
                  {% for plan in allMB %}
                    <option value="{{plan}}">{{plan}}</option>
                  {% endfor %}
                </select>
              </div>

              <div id="r-mifi-group" class="form-group recargas-mifi-group">
                <select id="dropdown-mifi" name="dropdownMIFI" class="form-control">
                  <option value="empty"> - </option>
                  {% for plan in allMifi %}
                    <option value="{{plan}}">{{plan}}</option>
                  {% endfor %}
                </select>
              </div>

              <div id="recargas-btn-container" class="form-group">
                <button onclick="freeLoader()" class="btn puprple_btn" type="submit">Hacer Recarga</button>
              </div>

            </form>
            <!----
            <p class="or_block">
              <span> Entra a tu portal </span>
            </p>
           <div class="or_option">
              <p>Entra con tu email</p>
              <a href="#" class="btn google_btn"><img src="{% static 'bienestarwebApp/images/google.png' %}" alt="image"> <span>Entra con Google</span> </a>
              <p>¿Aún no tienes una cuenta? <a href="#">Regístrate aquí</a></p>
           </div> -->
          </div>
         </section>
      </div>
      
    </div>

    <script>
      const mbGroup = document.getElementById("r-mb-group"); 
      const mifiGroup = document.getElementById("r-mifi-group"); 
      const btnContainer = document.getElementById("recargas-btn-container");
      const dropdownMb = document.getElementById("dropdown-mb");
      const dropdownMifi = document.getElementById("dropdown-mifi");
      const recargasGroup = document.getElementById("recargas-group");
      const idSubscriber = document.getElementById("idSubscriberI");
      const recargasSubmit = document.getElementById("recargasSubmit");
      const badResponseTxt = document.getElementById("badResponseTxt");
      const preloader = document.getElementById("preloader");

      const {
        host, hostname, href, origin, pathname, port, protocol, search
      } = window.location;

      mbGroup.style.display = "none";
      mifiGroup.style.display = "none";
      btnContainer.style.display = "none";
      recargasGroup.style.display = "none";
      badResponseTxt.style.display = "none";


      window.addEventListener('load', function () {
        startLoad()
      })

      const startLoad = () => {
        console.log("fff")
        console.log(search)
        if(search.includes("ok")){
          recargasGroup.style.display = "block";
          var number = search.slice(1, 11);
          idSubscriber.value = number;

        } 
        else if (search.includes("denied")) {
          recargasGroup.style.display = "none";
          badResponseTxt.style.display = "block";
        }
      }
      

      

      const displayMB = () => {
        mbGroup.style.display = "block";
        mifiGroup.style.display = "none";
      }

      const displayMifi = () => {
        mifiGroup.style.display = "block";
        mbGroup.style.display = "none";
      }

      idSubscriber.addEventListener("input", function() {

        console.log("fff")
        console.log(search)
        // Do something when the selected option changes
        var selectedOption = idSubscriber.value;
        console.log("Selected option: " + selectedOption);

        if (selectedOption.length == 10){
          recargasSubmit.submit();
          freeLoader();
        } 

      });

      
      dropdownMb.addEventListener("change", function() {
        // Do something when the selected option changes
        var selectedOption = dropdownMb.value;
        console.log("Selected option: " + selectedOption);
            
        btnContainer.style.display = "block";

        if (selectedOption == "empty"){
          btnContainer.style.display = "none";
        }

      });

      dropdownMifi.addEventListener("change", function() {
        // Do something when the selected option changes
        var selectedOption = dropdownMifi.value;
        console.log("Selected option: " + selectedOption);

        btnContainer.style.display = "block";

        if (selectedOption == "empty"){
          btnContainer.style.display = "none";
        }

      });

      const freeLoader = () => {
        preloader.style.display = "block";
      }

     </script>


{% endblock content %}


